<div id="xmap">
</div>

<div id="formControl" class="leaflet-control-layers leaflet-control hide">
  <h1 class="text-center">Your Comments</h1>
  <p>
    <textarea id="comments" class="form-control" rows="10"></textarea>
  </p>

  <p class="buttons">
    <button class="pull-left btn btn-default hideComments">Back to Editing</button>
    <button class="pull-right btn btn-primary submitMapNote">Submit</button>
  </p>
</div>
