<div class="row">
  <div class="col-md-12">
    <h1>Arctic Connect Portal</h1>

    <p>
      Arctic Connect is a platform for discovering and sharing Arctic research data.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Arctic BioMap</h2>
  </div>

  <div class="col-md-6">
    <h2>Arctic Scholar</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Arctic Web Map</h2>
  </div>

  <div class="col-md-6">
    <h2>Arctic Sensor Web</h2>
  </div>
</div>
