<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to "Report Map Comment/Correction", new_map_note_path, class: "btn btn-default" %>
      <% if signed_in? %>
      <%= link_to "Logout", session_path, method: :delete, class: "btn btn-default" %>
      <% else %>
      <%= link_to "Login/Create Account", page_path("login"), class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>
