<%# add navigation links to this file %>
<li><%= link_to 'Arctic Scholar', "http://records.arcticconnect.ca" %></li>
<li><%= link_to 'Arctic Web Map', "http://webmap.arcticconnect.ca" %></li>
<li><%= link_to 'Arctic Sensor Web', "http://sensorweb.arcticconnect.ca" %></li>
<li><%= link_to 'About', page_path('about') %></li>
